<body>
    <p>On this page you compile translated text into resulting svg/png. WIP.</p>
    <svg width="685px" height="1440px" id="injected_translations_svg_root" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs id="injected_translations_svg_defs">
        </defs>
        <image href="https://reibai.info/unv/volumes/v02/033.jpg" />
    </svg>
</body>

<script type="module">
    const whenTsBrowser = import('https://klesun.github.io/ts-browser/src/ts-browser.js');
    const fetchingBubbles = fetch('../assets/translation_update_transactions.json');
    const fetchingNotes = fetch('../assets/translator_notes_transactions.json');
    whenTsBrowser.then(tsBrowser => tsBrowser.loadModule('./compile_images.ts'))
        .then(module => module.default(fetchingBubbles, fetchingNotes))
        .catch(error => {
            console.error(error);
            alert('Script execution failed - ' + error);
        });
</script>

<link href="./compile_images_svg.css" type="text/css" rel="stylesheet" />
